<div class="my-5">
  <h3>
    <%= t :unlock_account %>
  </h3>

  <p>
    <%= t :unlock_disclaimer %>
  </p>

  <%= button_to t(:unlock), path, method: :post, class: 'btn btn-danger btn-raised', form_class: 'form-delete'%>
</div>