<% provide :title, t(:followed, resource: ProblemThread.model_name.human(count: 500)) %>

<div class="jumbotron py-4">
  <h2 class="mb-3">
    <% if current_consumer %>
      <%= t(:followed, resource: ProblemThread.model_name.human(count: 500).capitalize) %>
    <% else %>
      <%= t(:assigned) %>
    <% end %>
  </h2>

  <%= render partial: 'problem_threads/list', locals: { problem_threads: (current_consumer ? current_consumer.following_problems : current_employee.problem_threads).order_by_activity.page(params[:page]) } %>
</div>
