<% active = false if active.nil? %>

<% if active %>
  <li class="breadcrumb-item active">
    <%= ProblemThread.model_name.human(count: 500).capitalize %>
  </li>
<% else %>
  <li class="breadcrumb-item">
    <%= link_to ProblemThread.model_name.human(count: 500).capitalize, product_problem_threads_path(product) %>
  </li>
<% end %>
