<% provide :title, t(:products_by, enterprise: @enterprise.name) %>

<h2>
  <%= t(:products_by) %>
  <%= link_to @enterprise.name, enterprise_path(@enterprise) %>
</h2>

<%= render partial: 'products/list' %>
