<% provide :title, @enterprise.name %>

<%= debug @enterprise %>

<% if policy(@enterprise).update? %>
  <%= link_to t(:edit), edit_enterprise_path(@enterprise) %>
<% end %>

<h3>
  <%= t(:products_header, count: @enterprise.products.count) %>
</h3>

<%= render partial: 'products/list' %>
