<% provide :title, @enterprise.name %>

<%= debug @enterprise %>

<% if current_admin %>
  <%= link_to t(:edit), edit_enterprise_path(@enterprise) %>
<% end %>

<h3>
  <%= t(:products_header, number: @enterprise.products.count) %>
</h3>

<%= render partial: 'products/list', locals: { products: @enterprise.products } %>
