<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Have a good day, <%= @referent.name %>!</h1>
<p>Great job! The owner of the problem thread titled <%= @thread.title%> has found a solution thanks to you work!</p>
<p>Here's the link = <%= link_to @thread.title, @thread %></p>
</body>
</html>