<% id ||= :password_confirmation %>

<fieldset class="row align-items-center">
  <%= fa_icon('level-up fw', class: 'col-1 mt-4') %>
  <div class="form-group bmd-form-group col" >
    <%= form.password_field :password_confirmation, class: 'form-control', id: id, autocomplete: 'off' %>
    <%= label_tag id, t(:password_confirm), class: 'bmd-label-floating'%>
  </div>
</fieldset>
