<% input_for ||= :password %>
<% id ||= :password %>
<% locale ||= :password %>
<% min_length ||= 0 %>

<fieldset class="row align-items-center">
  <%= fa_icon('key fw', class: 'col-1 mt-4') %>
  <div class="form-group bmd-form-group col" >
    <%= form.password_field input_for, class: 'form-control', id: id, autocomplete: 'off', pattern: ".{#{min_length},}" %>
    <%= label_tag id, t(locale), class: 'bmd-label-floating'%>

    <% unless min_length.zero? %>
      <div class="bmd-help">
        <%= t :password_min_length, length: min_length %>
      </div>
    <% end %>
  </div>
</fieldset>
