<fieldset class="row align-items-center">
  <%= fa_icon('fw quote-left', class: 'col-1 mt-4') %>
  <div class="form-group bmd-form-group col" >
    <%= form.text_field :title,  class: 'form-control', id: :title %>
    <%= label_tag :title, t(:title), class: 'bmd-label-floating'%>
  </div>
</fieldset>
