<% id ||= :username %>
<% disabled ||= false %>

<fieldset class="row align-items-center">
  <%= fa_icon('user fw', class: 'col-1 mt-4') %>
  <div class="form-group bmd-form-group col">
    <%= form.text_field :username, class: 'form-control', id: id, disabled: disabled %>
    <%= label_tag id, t(:username), class: 'bmd-label-floating' %>
  </div>
</fieldset>
