@import "bootstrap-material-design";
@import "font-awesome";
@import "custom";

/*body{
  background: #00bcd4;
}*/

.problem_thread_title{
  margin: 0 0 20px 0;
}

.problem_threads {
  padding: 15px 0;
  border-bottom: 1px solid #EAEAEA;
  .timestamp {
    color: #bd4147;
    display: block;
    //margin-left: 60px;
  }
}


