<p><%= t :devise_email_hello, username: @resource.username %></p>

<%= t :devise_password_reset_email_preamble %>

<p><%= link_to t(:devise_password_reset_email_link), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t :devise_password_reset_email_body %></p>
