<p><%= t :devise_email_hello, username: @resource.username %></p>

<p><%= t :devise_unlock_email_preamble %>/p>

<p><%= t :devise_unlock_email_body %></p>

<p><%= link_to t(:devise_unlock_email_link), unlock_url(@resource, unlock_token: @token) %></p>
