<p><%= t :hello, scope: [:devise_email], username: @resource.username %></p>

<p><%= t :unlock_preamble, scope: [:devise_email] %>/p>

<p><%= t :unlock_body, scope: [:devise_email] %></p>

<p><%= link_to t(:unlock_link, scope: [:devise_email]), unlock_url(@resource, unlock_token: @token) %></p>
