<li id="problem thread-<%= problem_thread.id %>">
  <small>
  <%= link_to problem_thread.consumer.username, problem_thread.consumer %>
  </small>
  <p>
    <strong>Title:</strong>
    <%= link_to problem_thread.title, product_problem_thread_path(problem_thread.product, problem_thread) %>
  </p>
  <p>
    <small>
      Posted <%= time_ago_in_words(problem_thread.created_at) %> ago.
    </small>
  </p>
</li>