<li id="problem thread-<%= problem_thread.id %>">
  <small>
  Posted by: <%= link_to problem_thread.consumer.username, problem_thread.consumer %>
  </small>
  <div class = "problem_thread_title">
    <strong>Title:</strong>
    <%= link_to problem_thread.title, product_problem_thread_path(problem_thread.product, problem_thread) %>
  </div>
  <div class = "timestamp">
    <small>
      Posted <%= time_ago_in_words(problem_thread.created_at) %> ago.
    </small>
  </div>
</li>