<div class = 'stats'>
  <a href="<%= followers_product_problem_thread_path(@product,@problem_thread) %>">

    <strong id="followers" class="stats">
      <%= @problem_thread.followers.count %>
    </strong>
    followers

  </a>
</div>