<% provide :title, t(:resource_new, resource: :product) %>

<%= render partial: 'errors', locals: { resource: @product } %>

<div class="jumbotron align-items-center">
  <div class="col-6 mx-auto" >
    <h2>
      <%= t(:resource_create, resource: I18n.t(:product).downcase) %>
    </h2>

    <%= render partial: 'form' %>
  </div>
</div>
