<% provide :title, @search %>

<div class="jumbotron py-4">
  <h2 class="mb-3">
    <%= t(:results_for_search, count: @products.count, resource: Product.model_name.human(count: @products.count), string: @search) %>
  </h2>

  <%= render partial: 'list', locals: { products: @products } %>
</div>
