<% provide :title, @search %>

<h1>
  <%= t(:results_for_search, resource: I18n.t(:product).pluralize, string: @search) %>
</h1>

<%= render partial: 'list' %>

<% if @products.empty? %>
  <h3>
    <%= t(:results_no) %>
  </h3>
<% end %>
